<div ng-controller="ctrl-order">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-primary shadow">
				<div class="card-header">
					<h3 class="m-0 font-weight-bold text-primary">Order Management</h3>
				</div>
				<div class="card-body row">
					<div class="form-group col-md-6">
						<label for="title">Order date</label>
						<input class="form-control" type="date" name="CreateDate">
						<button class="btn btn-success btn-sm mt-3">Check</button>
					</div>
				</div>					
			</div>
		</div>
	</div>
	
	<div class="card shadow mt-3">
		<div class="card-header" style="display: flex; justify-content: space-between">
			<h3 class="m-0 font-weight-bold text-primary">List Orders</h3>
		</div>
		<div class="card-body">
			<table id="example1" class="table table-bordered table-striped text-center">
				<thead>
					<tr>
						<th>Order id</td>
						<th>Username</td>
						<th>Created Date</th>
						<th>Address</th>
						<th>Discount</th>
						<th>Paypal Order Id</th>
						<th>Paypal Order Status</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td style="width: 25%">{{item.id}}</td>
						<td style="width: 25%">{{item.account.username}}</td>
						<td style="width: 25%">{{item.createDate}}</td>
						<td style="width: 25%">{{item.address}}</td>
						<td style="width: 25%">{{item.discountId}}</td>
						<td style="width: 25%">{{item.paypalOrderId}}</td>
						<td style="width: 25%">{{item.paypalOrderStatus}}</td>
						<td style="width: 25%">{{item.status}}</td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>